- teams.each do |team|
	.row.collapse
		.medium-2.small-12.columns
			%strong
				= link_to team.name, team
		.medium-10.small-12.columns
			.row
				.medium-4.small-12.columns #{team.team_members.first.name}
				.medium-4.small-12.columns #{team.team_members.second.name}
				.medium-4.small-12.columns #{team.team_members.third.name}
