- teams.each do |team|
	.row.collapse
		.small-12.large-2.columns
			%strong
				= link_to team.name, team
		.small-12.large-10.columns
			.medium-4.small-12.columns= team.team_members.first.name
			.medium-4.small-12.columns= team.team_members.second.name
			.medium-4.small-12.columns= team.team_members.third.name
