- members = team.team_members.joins(:participant).order('participants.rating DESC')
.row.collapse
	.medium-2.small-12.columns
		%strong
			= link_to team.name, team
	.medium-10.small-12.columns
		.row
			.medium-4.small-12.columns #{members.first.name}
			.medium-4.small-12.columns #{members.second.name}
			.medium-4.small-12.columns #{members.third.name}
