%h1= @league.name

%h3 Stand

= render partial: 'standings', locals: { league: @league }

%h3 Rooster

= render partial: 'calendar', locals: { league: @league }

- if current_user
	= link_to 'Poule Bewerken', edit_league_path(@league), class: 'button'