%h2 #{@match.black_team.name} - #{@match.white_team.name}
%section
	= render partial: 'match_details', locals: {match: @match}
- if current_user
	%hr
	%section
		= link_to 'Bewerken', edit_match_path(@match), class: 'button'
